<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.popspace.mapper.NotificationMapper">

    <insert id="insertNotification" parameterType="org.example.popspace.dto.notification.NotificationResponseDto">
        <selectKey keyProperty="notifyId" resultType="long" order="BEFORE">
            SELECT SEQ_NOTIFY_ID.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO NOTIFICATION (
            NOTIFY_ID,
            POPUP_ID,
            TITLE,
            CONTENT,
            IMAGE_URL,
            NOTIFICATION_STATE,
            CREATED_AT
        ) VALUES (
                    #{notifyId},
                     #{popupId},
                     #{title},
                     #{content},
                     #{imageUrl},
                     #{notificationState},
                     SYSDATE
                 )
    </insert>


    <select id="selectNotificationsByMemberId" parameterType="long" resultType="org.example.popspace.dto.notification.NotificationResponseDto">
        SELECT DISTINCT N.*
        FROM NOTIFICATION N
                 JOIN RESERVATION R ON N.popup_id = R.popup_id
        WHERE R.MEMBER_ID = #{memberId}
          AND R.reservation_state = '1'
          AND N.notification_state = '1'
    </select>

    <select id="selectReservedMemberIds" parameterType="long" resultType="long">
        SELECT MEMBER_ID
        FROM RESERVATION R
        WHERE POPUP_ID = #{popupId}
          AND RESERVATION_STATE = '1'
    </select>

    <select id="selectPopupIdByMemberId" parameterType="long" resultType="long">
        SELECT POPUP_ID
        FROM POPUP P
        WHERE MEMBER_ID = #{memberId}
    </select>
</mapper>
